[Bb]in/
[Oo]bj/
!/lib
*.user
*.suo
_ReSharper.*
*.sln.cache
*.xap
*.vspcc
*.vscc
*.vssscc
*.bak
_UpgradeReport_Files
UpgradeLog.*
[Pp]ublish/
[Bb]ackup/
.svn
*.log
[Bb]ackup1/
*.old
RequestReduceContent/
imagecache/
.DS_Store
packages/
.nuget/*.exe
_bin_deployableAssemblies/
TestResults/
Elmah.sdf
generated/
WebsiteTmp/
*.lnk
Thumbs.db
Installer/Output/
*.vspx
*.psess
*.userprefs
*.sln.ide/
