<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiMiner.CoinWarz.Api.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MultiMiner.CoinWarz.Api.Tests.Properties.Settings>
            <setting name="CoinWarzApiKey" serializeAs="String">
                <value>ed221800bdde4046b809e2d5156491ea</value>
            </setting>
        </MultiMiner.CoinWarz.Api.Tests.Properties.Settings>
    </userSettings>
</configuration>