<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiMiner.Branding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MultiMiner.Branding.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>MultiMiner - FutureBit Edition</value>
            </setting>
            <setting name="EnableGPUMining" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BriefUserInterface" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NetworkDeviceDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListViewStyle" serializeAs="String">
                <value>Tile</value>
            </setting>
            <setting name="DefaultCoin" serializeAs="String">
                <value>Litecoin</value>
            </setting>
            <setting name="DefaultPool" serializeAs="String">
                <value>stratum+tcp://us.litecoinpool.org:3333</value>
            </setting>
            <setting name="DefaultMiner" serializeAs="String">
                <value>BFGMiner_jstefanop</value>
            </setting>
            <setting name="ScanArguments" serializeAs="String">
                <value>-S MLD:all</value>
            </setting>
            <setting name="PrimaryAlgorithm" serializeAs="String">
                <value>Scrypt</value>
            </setting>
            <setting name="PrimaryAlgorithmFlags" serializeAs="String">
                <value>--set MLD:clock=600</value>
            </setting>
            <setting name="PresetMinerFlags" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>--set MLD:clock=384</string>
                        <string>--set MLD:clock=450</string>
                        <string>--set MLD:clock=480</string>
                        <string>--set MLD:clock=540</string>
                        <string>--set MLD:clock=576</string>
                        <string>--set MLD:clock=600</string>
                        <string>--set MLD:clock=612</string>
                        <string>--set MLD:clock=625</string>
                        <string>--set MLD:clock=636</string>
                        <string>--set MLD:clock=648</string>
                        <string>--set MLD:clock=660</string>
                        <string>--set MLD:clock=672</string>
                        <string>--set MLD:clock=684</string>
                        <string>--set MLD:clock=700</string>
                        <string>--set MLD:clock=720</string>
                        <string>--set MLD:clock=744</string>
                        <string>--set MLD:clock=756</string>
                        <string>--set MLD:clock=768</string>
                        <string>--set MLD:clock=796</string>
                        <string>--set MLD:clock=832</string>
                        <string>--set MLD:clock=852</string>
                        <string>--set MLD:clock=876</string>
                        <string>--set MLD:clock=900</string>
                        <string>--set MLD:clock=924</string>
                        <string>--set MLD:clock=954</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MultiMiner.Branding.Properties.Settings>
    </userSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
</configuration>
